openapi: 3.2.0
info:
  title: Fhir Provider Directory Healthcare Service API
  description: '**Provider Directory API for CMS 9115-F**


    The Provider Directory API provides access to provider information.'
  version: '1.0'
servers:
- url: https://api.dentaquest.com/FhirProviderDirectory
- url: https://api.deltadentalma.com/FhirProviderDirectory
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Healthcare Service
paths:
  /HealthcareService:
    get:
      summary: /HealthcareService - GET
      operationId: get-healthcareservice
      parameters:
      - name: coverage-area
        in: query
        description: Location(s) service is intended for/available to
        schema:
          type: string
      - name: characteristic
        in: query
        description: One of the HealthcareService's characteristics
        schema:
          type: string
      - name: organization
        in: query
        description: The organization that provides this Healthcare Service
        schema:
          type: string
      - name: service-category
        in: query
        description: Service Category of the Healthcare Service
        schema:
          type: string
      - name: program
        in: query
        description: One of the Programs supported by this HealthcareService
        schema:
          type: string
      - name: location
        in: query
        description: The location of the Healthcare Service
        schema:
          type: string
      - name: active
        in: query
        description: The Healthcare Service is currently marked as active
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        schema:
          type: string
      - name: service-type
        in: query
        description: The type of service provided by this healthcare service
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). When the resource version last changed
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        schema:
          type: string
      - name: specialty
        in: query
        description: The specialty of the service provided by this healthcare service
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        schema:
          type: string
      - name: endpoint
        in: query
        description: Technical endpoints providing access to electronic services operated for the healthcare service
        schema:
          type: string
      - name: name
        in: query
        description: A portion of the Healthcare service name
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        schema:
          type: string
      - name: identifier
        in: query
        description: External identifiers for this item
        schema:
          type: string
      - name: _format
        in: query
        description: Output formatting
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Healthcare Service
  /HealthcareService/{id}:
    get:
      summary: /HealthcareService/{id} - GET
      operationId: get-healthcareservice-id
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Healthcare Service
  /HealthcareService/{id}/_history/{vid}:
    get:
      summary: /HealthcareService/{id}/_history/{vid} - GET
      operationId: get-healthcareservice-id-_history-vid
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: vid
        in: path
        description: version id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Healthcare Service
  /HealthcareService/{id}/_history:
    get:
      summary: /HealthcareService/{id}/_history - GET
      operationId: get-healthcareservice-id-_history
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Healthcare Service
  /HealthcareService/_history:
    get:
      summary: /HealthcareService/_history - GET
      operationId: get-healthcareservice-_history
      parameters:
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Healthcare Service
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
