openapi: 3.2.0
info:
  title: Sun Life Organization API
  version: '1.0'
  description: 'Operations tagged Organization across 2 of this provider''s published API definitions: sun-life-dentaquest-fhir-patient-access-openapi.json, sun-life-dentaquest-fhir-provider-directory-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.dentaquest.com/FhirPatientAccess/v1
- url: https://api.deltadentalma.com/FhirPatientAccess/v1
- url: https://api.dentaquest.com/FhirProviderDirectory
- url: https://api.deltadentalma.com/FhirProviderDirectory
tags:
- name: Organization
paths:
  /Organization:
    get:
      summary: /Organization - GET
      operationId: get-organization
      parameters:
      - name: address
        in: query
        description: A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text
        schema:
          type: string
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic matching algorithm
        schema:
          type: string
      - name: partof
        in: query
        description: An organization of which this organization forms a part
        schema:
          type: string
      - name: active
        in: query
        description: Is the Organization record active
        schema:
          type: string
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        schema:
          type: string
      - name: address-country
        in: query
        description: A country specified in an address
        schema:
          type: string
      - name: type
        in: query
        description: A code for the type of organization
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). When the resource version last changed
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        schema:
          type: string
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for the organization
        schema:
          type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        schema:
          type: string
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
      - name: name
        in: query
        description: A portion of the organization's name or alias
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        schema:
          type: string
      - name: identifier
        in: query
        description: Any identifier for the organization (not the accreditation issuer's identifier)
        schema:
          type: string
      - name: _format
        in: query
        description: Output formatting
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Organization
    servers:
    - url: https://api.dentaquest.com/FhirPatientAccess/v1
    - url: https://api.deltadentalma.com/FhirPatientAccess/v1
  /Organization/{id}:
    get:
      summary: /Organization/{id} - GET
      operationId: get-organization-id
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Organization
    servers:
    - url: https://api.dentaquest.com/FhirPatientAccess/v1
    - url: https://api.deltadentalma.com/FhirPatientAccess/v1
  /Organization/{id}/_history/{vid}:
    get:
      summary: /Organization/{id}/_history/{vid} - GET
      operationId: get-organization-id-_history-vid
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: vid
        in: path
        description: version id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Organization
    servers:
    - url: https://api.dentaquest.com/FhirPatientAccess/v1
    - url: https://api.deltadentalma.com/FhirPatientAccess/v1
  /Organization/{id}/_history:
    get:
      summary: /Organization/{id}/_history - GET
      operationId: get-organization-id-_history
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Organization
    servers:
    - url: https://api.dentaquest.com/FhirPatientAccess/v1
    - url: https://api.deltadentalma.com/FhirPatientAccess/v1
  /Organization/_history:
    get:
      summary: /Organization/_history - GET
      operationId: get-organization-_history
      parameters:
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Organization
    servers:
    - url: https://api.dentaquest.com/FhirPatientAccess/v1
    - url: https://api.deltadentalma.com/FhirPatientAccess/v1
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- sun-life-dentaquest-fhir-patient-access-openapi.json
- sun-life-dentaquest-fhir-provider-directory-openapi.json
