openapi: 3.2.0
info:
  title: Fhir Provider Directory Practitioner Role API
  description: "\n**Provider Directory API for CMS 9115-F**\n\nThe Provider Directory API provides access to provider information. To get started, a third-party developer must request an API key.\n\n**1. Get Your API Key** Request an API key by filling out the form at: [Logic Manager Form](https://dentaquest.logicmanager.com/incidents/?t=1241&p=215&k=F0E3BD92F157F9B73EDE82834286E7CEA4044134B39D92AC3EE7E56392194241). Be sure to select \"Provider Directory\" from the API dropdown menu.\n\n**2. Make Requests** Once you receive your key, include it in the `Ocp-Apim-Subscription-Key` header for all API calls to your requests.\n\n### **API Standards and Conformance**\n\nThis API conforms to the following standards and implementation specifications:\n\n- **FHIR Version:** `4.0.1` (R4)\n    \n- **Implementation Guide:** `HL7 Da Vinci PDex Plan-Net Implementation Guide Version 1.1.0`\n    \n\n### **Exception Handling**\n\nThe API uses standard HTTP status codes to indicate the success or failure of a request. In the event of an error (HTTP status codes `4xx` or `5xx`), for example an invalid API key (`403 Forbidden`) or a malformed request (`400 Bad Request`). The response body will also contain a FHIR `OperationOutcome` resource. This resource provides detailed, structured information about the error, including severity, error codes, and human-readable diagnostics to assist with troubleshooting.\n\n\n\n### **Exception Response**\n| HTTP Status | Response                | Reason                                                                                                                               |\n| ----------- | ----------------------- | ------------------------------------------------------------------------------------------------------------------------------------ |\n| **400**     | `Bad Request`           | The request could not be understood by the server due to malformed syntax (e.g., an invalid parameter).                              |\n| **401**     | `Unauthorized`          | The request lacks valid authentication credentials. This may occur if the JWT token is missing, expired, or invalid.                 |\n| **403**     | `Forbidden`             | The server understood the request, but refuses to authorize it. This may occur if the member has not granted the application access. |\n| **404**     | `Not Found`             | The requested FHIR resource (e.g., a specific Patient or Coverage record) does not exist.                                            |\n| **500**     | `Internal Server Error` | The server encountered an unexpected condition that prevented it from fulfilling the request.                                        |\n\n"
  version: '1.0'
servers:
- url: https://api.dentaquest.com/FhirProviderDirectory
- url: https://api.deltadentalma.com/FhirProviderDirectory
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: PractitionerRole
paths:
  /PractitionerRole:
    get:
      summary: /PractitionerRole - GET
      description: /PractitionerRole - GET
      operationId: get-practitionerrole
      parameters:
      - name: phone
        in: query
        description: "Multiple Resources: \n\n* [Patient](patient.html): A value in a phone contact\n* [Person](person.html): A value in a phone contact\n* [Practitioner](practitioner.html): A value in a phone contact\n* [PractitionerRole](practitionerrole.html): A value in a phone contact\n* [RelatedPerson](relatedperson.html): A value in a phone contact"
        schema:
          type: string
      - name: organization
        in: query
        description: The identity of the organization the practitioner represents / acts on behalf of
        schema:
          type: string
      - name: date
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). The period during which the practitioner is authorized to perform in these role(s)
        schema:
          type: string
          format: date
      - name: location
        in: query
        description: One of the locations at which this practitioner provides care
        schema:
          type: string
      - name: practitioner
        in: query
        description: Practitioner that is able to provide the defined services for the organization
        schema:
          type: string
      - name: active
        in: query
        description: Whether this practitioner role record is in active use
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        schema:
          type: string
      - name: service
        in: query
        description: The list of healthcare services that this worker provides for this role's Organization/Location(s)
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). When the resource version last changed
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        schema:
          type: string
      - name: specialty
        in: query
        description: The practitioner has this specialty at an organization
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        schema:
          type: string
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for the practitioner with this role
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        schema:
          type: string
      - name: identifier
        in: query
        description: A practitioner's Identifier
        schema:
          type: string
      - name: email
        in: query
        description: "Multiple Resources: \n\n* [Patient](patient.html): A value in an email contact\n* [Person](person.html): A value in an email contact\n* [Practitioner](practitioner.html): A value in an email contact\n* [PractitionerRole](practitionerrole.html): A value in an email contact\n* [RelatedPerson](relatedperson.html): A value in an email contact"
        schema:
          type: string
      - name: role
        in: query
        description: The practitioner can perform this role at for the organization
        schema:
          type: string
      - name: telecom
        in: query
        description: "Multiple Resources: \n\n* [Patient](patient.html): The value in any kind of telecom details of the patient\n* [Person](person.html): The value in any kind of contact\n* [Practitioner](practitioner.html): The value in any kind of contact\n* [PractitionerRole](practitionerrole.html): The value in any kind of contact\n* [RelatedPerson](relatedperson.html): The value in any kind of contact"
        schema:
          type: string
      - name: _format
        in: query
        description: Output formatting
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - PractitionerRole
  /PractitionerRole/{id}:
    get:
      summary: /PractitionerRole/{id} - GET
      description: /PractitionerRole/{id} - GET
      operationId: get-practitionerrole-id
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - PractitionerRole
  /PractitionerRole/{id}/_history/{vid}:
    get:
      summary: /PractitionerRole/{id}/_history/{vid} - GET
      description: /PractitionerRole/{id}/_history/{vid} - GET
      operationId: get-practitionerrole-id-_history-vid
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: vid
        in: path
        description: version id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - PractitionerRole
  /PractitionerRole/{id}/_history:
    get:
      summary: /PractitionerRole/{id}/_history - GET
      description: /PractitionerRole/{id}/_history - GET
      operationId: get-practitionerrole-id-_history
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - PractitionerRole
  /PractitionerRole/_history:
    get:
      summary: /PractitionerRole/_history - GET
      description: /PractitionerRole/_history - GET
      operationId: get-practitionerrole-_history
      parameters:
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - PractitionerRole
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
