openapi: 3.2.0
info:
  title: Fhir Patient Access Coverage API
  description: '**Patient Access API for CMS 9115-F**


    To access the DentaQuest Patient Access API, a third-party application must obtain a valid JWT token by following the SMART on FHIR authorization framework.'
  version: v1
servers:
- url: https://api.dentaquest.com/FhirPatientAccess/v1
- url: https://api.deltadentalma.com/FhirPatientAccess/v1
tags:
- name: Coverage
paths:
  /Coverage:
    get:
      summary: /Coverage - GET
      operationId: get-coverage
      parameters:
      - name: payor
        in: query
        description: The identity of the insurer or party paying for services
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        schema:
          type: string
      - name: type
        in: query
        description: The kind of coverage (health plan, auto, Workers Compensation)
        schema:
          type: string
      - name: subscriber
        in: query
        description: Reference to the subscriber
        schema:
          type: string
      - name: status
        in: query
        description: The status of the Coverage
        schema:
          type: string
      - name: policy-holder
        in: query
        description: Reference to the policyholder
        schema:
          type: string
      - name: class-value
        in: query
        description: Value of the class (eg. Plan number, group number)
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). When the resource version last changed
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        schema:
          type: string
      - name: patient
        in: query
        description: Retrieve coverages for a patient
        schema:
          type: string
      - name: beneficiary
        in: query
        description: Covered party
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        schema:
          type: string
      - name: identifier
        in: query
        description: The primary identifier of the insured and the coverage
        schema:
          type: string
      - name: class-type
        in: query
        description: Coverage class (eg. plan, group)
        schema:
          type: string
      - name: dependent
        in: query
        description: Dependent number
        schema:
          type: string
      - name: _format
        in: query
        description: Output formatting
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Coverage
  /Coverage/{id}:
    get:
      summary: /Coverage/{id} - GET
      operationId: get-coverage-id
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Coverage
  /Coverage/{id}/_history/{vid}:
    get:
      summary: /Coverage/{id}/_history/{vid} - GET
      operationId: get-coverage-id-_history-vid
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: vid
        in: path
        description: version id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Coverage
  /Coverage/{id}/_history:
    get:
      summary: /Coverage/{id}/_history - GET
      operationId: get-coverage-id-_history
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Coverage
  /Coverage/_history:
    get:
      summary: /Coverage/_history - GET
      operationId: get-coverage-_history
      parameters:
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Coverage
