openapi: 3.2.0
info:
  title: Fhir Provider Directory Practitioner Role API
  description: '**Provider Directory API for CMS 9115-F**


    The Provider Directory API provides access to provider information.'
  version: '1.0'
servers:
- url: https://api.dentaquest.com/FhirProviderDirectory
- url: https://api.deltadentalma.com/FhirProviderDirectory
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Practitioner Role
paths:
  /PractitionerRole:
    get:
      summary: /PractitionerRole - GET
      operationId: get-practitionerrole
      parameters:
      - name: phone
        in: query
        description: "Multiple Resources: \n\n* [Patient](patient.html): A value in a phone contact\n* [Person](person.html): A value in a phone contact\n* [Practitioner](practitioner.html): A value in a phone contact\n* [PractitionerRole](practitionerrole.html): A value in a phone contact\n* [RelatedPerson](relatedperson.html): A value in a phone contact"
        schema:
          type: string
      - name: organization
        in: query
        description: The identity of the organization the practitioner represents / acts on behalf of
        schema:
          type: string
      - name: date
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). The period during which the practitioner is authorized to perform in these role(s)
        schema:
          type: string
          format: date
      - name: location
        in: query
        description: One of the locations at which this practitioner provides care
        schema:
          type: string
      - name: practitioner
        in: query
        description: Practitioner that is able to provide the defined services for the organization
        schema:
          type: string
      - name: active
        in: query
        description: Whether this practitioner role record is in active use
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        schema:
          type: string
      - name: service
        in: query
        description: The list of healthcare services that this worker provides for this role's Organization/Location(s)
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). When the resource version last changed
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        schema:
          type: string
      - name: specialty
        in: query
        description: The practitioner has this specialty at an organization
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        schema:
          type: string
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for the practitioner with this role
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        schema:
          type: string
      - name: identifier
        in: query
        description: A practitioner's Identifier
        schema:
          type: string
      - name: email
        in: query
        description: "Multiple Resources: \n\n* [Patient](patient.html): A value in an email contact\n* [Person](person.html): A value in an email contact\n* [Practitioner](practitioner.html): A value in an email contact\n* [PractitionerRole](practitionerrole.html): A value in an email contact\n* [RelatedPerson](relatedperson.html): A value in an email contact"
        schema:
          type: string
      - name: role
        in: query
        description: The practitioner can perform this role at for the organization
        schema:
          type: string
      - name: telecom
        in: query
        description: "Multiple Resources: \n\n* [Patient](patient.html): The value in any kind of telecom details of the patient\n* [Person](person.html): The value in any kind of contact\n* [Practitioner](practitioner.html): The value in any kind of contact\n* [PractitionerRole](practitionerrole.html): The value in any kind of contact\n* [RelatedPerson](relatedperson.html): The value in any kind of contact"
        schema:
          type: string
      - name: _format
        in: query
        description: Output formatting
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Practitioner Role
  /PractitionerRole/{id}:
    get:
      summary: /PractitionerRole/{id} - GET
      operationId: get-practitionerrole-id
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Practitioner Role
  /PractitionerRole/{id}/_history/{vid}:
    get:
      summary: /PractitionerRole/{id}/_history/{vid} - GET
      operationId: get-practitionerrole-id-_history-vid
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: vid
        in: path
        description: version id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Practitioner Role
  /PractitionerRole/{id}/_history:
    get:
      summary: /PractitionerRole/{id}/_history - GET
      operationId: get-practitionerrole-id-_history
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Practitioner Role
  /PractitionerRole/_history:
    get:
      summary: /PractitionerRole/_history - GET
      operationId: get-practitionerrole-_history
      parameters:
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Practitioner Role
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
