openapi: 3.2.0
info:
  title: Fhir Provider Directory Endpoint API
  description: '**Provider Directory API for CMS 9115-F**


    The Provider Directory API provides access to provider information.'
  version: '1.0'
servers:
- url: https://api.dentaquest.com/FhirProviderDirectory
- url: https://api.deltadentalma.com/FhirProviderDirectory
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Endpoint
paths:
  /Endpoint:
    get:
      summary: /Endpoint - GET
      operationId: get-endpoint
      parameters:
      - name: organization
        in: query
        description: The organization that is managing the endpoint
        schema:
          type: string
      - name: payload-type
        in: query
        description: The type of content that may be used at this endpoint (e.g. XDS Discharge summaries)
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        schema:
          type: string
      - name: status
        in: query
        description: The current status of the Endpoint (usually expected to be active)
        schema:
          type: string
      - name: connection-type
        in: query
        description: Protocol/Profile/Standard to be used with this endpoint connection
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Format - date (as full-date in RFC3339). Format - date (as full-date in RFC3339). When the resource version last changed
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        schema:
          type: string
      - name: name
        in: query
        description: A name that this endpoint can be identified by
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        schema:
          type: string
      - name: identifier
        in: query
        description: Identifies this endpoint across multiple systems
        schema:
          type: string
      - name: _format
        in: query
        description: Output formatting
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Endpoint
  /Endpoint/{id}:
    get:
      summary: /Endpoint/{id} - GET
      operationId: get-endpoint-id
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Endpoint
  /Endpoint/{id}/_history/{vid}:
    get:
      summary: /Endpoint/{id}/_history/{vid} - GET
      operationId: get-endpoint-id-_history-vid
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: vid
        in: path
        description: version id of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Endpoint
  /Endpoint/{id}/_history:
    get:
      summary: /Endpoint/{id}/_history - GET
      operationId: get-endpoint-id-_history
      parameters:
      - name: id
        in: path
        description: id of resource
        required: true
        schema:
          type: string
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Endpoint
  /Endpoint/_history:
    get:
      summary: /Endpoint/_history - GET
      operationId: get-endpoint-_history
      parameters:
      - name: _count
        in: query
        description: number to return
        schema:
          type: string
      - name: _since
        in: query
        description: how far back
        schema:
          type: string
      responses:
        '200':
          description: Success
      tags:
      - Endpoint
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
